<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Cuevas-BakeShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.CBS.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.CBS.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.CBS.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.CBS.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>com.CBS.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <url-pattern>/QuantityIncDec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>com.CBS.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>com.CBS.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/OrderNow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>com.CBS.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>com.CBS.servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.CBS.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOtpServlet</display-name>
    <servlet-name>ValidateOtpServlet</servlet-name>
    <servlet-class>com.CBS.servlet.ValidateOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOtpServlet</servlet-name>
    <url-pattern>/ValidateOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPasswordServlet</display-name>
    <servlet-name>NewPasswordServlet</servlet-name>
    <servlet-class>com.CBS.servlet.NewPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPasswordServlet</servlet-name>
    <url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.CBS.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeContactNumberServlet</display-name>
    <servlet-name>ChangeContactNumberServlet</servlet-name>
    <servlet-class>com.CBS.servlet.ChangeContactNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeContactNumberServlet</servlet-name>
    <url-pattern>/newContactNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAddressServlet</display-name>
    <servlet-name>ChangeAddressServlet</servlet-name>
    <servlet-class>com.CBS.servlet.ChangeAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAddressServlet</servlet-name>
    <url-pattern>/newAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAdminServlet</display-name>
    <servlet-name>RegisterAdminServlet</servlet-name>
    <servlet-class>com.CBS.servlet.RegisterAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAdminServlet</servlet-name>
    <url-pattern>/RegisterAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmOrderServlet</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>com.CBS.servlet.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/ConfirmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.CBS.servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewProductServlet</display-name>
    <servlet-name>AddNewProductServlet</servlet-name>
    <servlet-class>com.CBS.servlet.AddNewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewProductServlet</servlet-name>
    <url-pattern>/AddNewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.CBS.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewProductServlet</display-name>
    <servlet-name>InsertNewProductServlet</servlet-name>
    <servlet-class>com.CBS.servlet.InsertNewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewProductServlet</servlet-name>
    <url-pattern>/InsertNewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.CBS.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.CBS.servlet.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.CBS.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
</web-app>